

.jumbotron {
    font-family: 'Roboto', sans-serif;
    padding: 0.2rem;
    background-color: #00008b;
    color: #f5f5f5 ;
}

.searchCol {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin: 0rem;
    border: 0rem;
    background-color: #ededed;
}

.btnFormat {
    background-color: #adbce6;
    color: #000000;
}

.btnFormaterase {
    background-color: #ff2400;
    color: #000000;
    opacity: 0.5;
}

.currentWeather {
    background-color: antiquewhite;
}

.textOverCity {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cityTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.dateTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;font-style: italic;

}

.parameterText {
    font-family: 'Roboto', sans-serif;
    text-indent: 2em;
    font-weight: bold;
}

.currentUVIndexText {
    background-color: #ff2400;
    color: #ffffff;
}

.weatherCard {
    background-color: #117a8e;
}

.cardText {
    color: #ffffff;
    text-align: center;
}